  .container {
    display: flex;
  }
  .container-col {
    display: flex;
    flex-direction: column;
  }

  .box {
    border: 1px solid black;
    width: 75px;
    height: 50px;
  }
  .container-grid {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
  }
